# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
VENV/

# 
data/*
logs/*
result/*
videos/*

# Trained model
*.pth
*.pt

# Editor
.vscode/*

# Keep empty folder
!.gitkeep